@model EasyToEnter.ASP.Models.Models.DormitoryModel;

<div class="container p-0 m-0">
    <div class="col">
        <div class="row">
            @Model.Name
        </div>
        <div class="row">
            @Model.AddressModel!.FullAddress
        </div>
    </div>
</div>