@model EasyToEnter.ASP.ViewsModels.Components.Maps.UniversityViewModel;

<div class="container p-0 m-0">
    <div class="col">
        <div class="row">
            @Model.University.Name
        </div>
        <div class="row">
            @Model.University!.AddressModel!.FullAddress
        </div>
        <div class="row">
            @Model.University.Website
        </div>
    </div>
</div>