<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    @*Yandex map api*@
    <script src="https://api-maps.yandex.ru/2.1/?lang=RU&amp;apikey=af8e31d9-17e3-49ed-b3f7-2ff1d17947f9"></script>

    @*Bootstrap*@
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    @*Site*@
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    @*Select*@
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" rel="stylesheet"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"/>

    @*Иконки*@
    <link rel="stylesheet" href="~/lib/bootstrap-icons-1.8.2/bootstrap-icons.css" asp-append-version="true"/>

    @*Scrollbar*@
    <link rel="stylesheet" href="~/css/custom-scrollbar.css" asp-append-version="true"/>

    @*Collapse*@
    <link rel="stylesheet" href="~/css/mobile-collapse.css" asp-append-version="true"/>

    @*Jquery*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    @*Bootstrap*@
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

</head>
<body class="pt-5" style="background-color: #f1f5f9">

    <header>
        <nav class="navbar fixed-top navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow rounded-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Легко поступить!</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon">

                    </span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Панель администратора</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Applicant" asp-action="LevelSelection">Поиск</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container mt-0 mx-auto mt-4">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @*Site*@
    <script src="~/js/site.js"></script>

    @*Select*@
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>

    @*ToolTip*@
    <script src="~/js/activate-tooltip.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>