@model List<EasyToEnter.ASP.Models.Models.HistoryVariabilityModel>;
@using EasyToEnter.ASP.Models.Models;
@using static EasyToEnter.ASP.Tools.PredictorHistory;

<div id="carouselExampleControls" class="carousel px-3 m-0" data-bs-ride="carousel">
    <div class="carousel-inner">
        <vc:history-card data="Predict(Model)"/>
        @for (var i = 0; i < Model.Count; i++)
        {
            <vc:history-card data="Model[i]"/>
        }
        @for (var i = Model.Count; i < 2; i++)
        {
            <vc:history-card data="DePredict(Model, i)"/>
        }
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>