@model EasyToEnter.ASP.Models.Models.DisciplineFocusUniversityModel;

<div class="rounded-20 shadow-sm bg-white mb-2 px-2" style="border: 1px solid #e6e6e6;">
    <div class="row p-2">
        <div class="col text-start text-truncate">
            @Model.DisciplineModel!.Name
        </div>
        <div class="col-auto text-end">
            @Model.DisciplineCredit <small class="text-muted">з.е.</small>
        </div>
    </div>
</div>