@model EasyToEnter.ASP.Models.Models.DisciplineFocusUniversityModel;

<div class="row">
    <div class="col">
        @Model.DisciplineModel!.Name
    </div>
    <div class="col">
        @Model.DisciplineCredit
    </div>
</div>