@model EasyToEnter.ASP.ViewsModels.Applicant.DirectionSelectionContainerViewModel;

@{
    ViewData["Title"] = "Выбор направления";
}

<div class="text-center m-3">
    <h2>Выбор направления</h2>
</div>

<vc:direction-container data="@Model"/>