@model EasyToEnter.ASP.ViewsModels.Applicant.FocusSelectionContainerViewModel;

@{
    ViewData["Title"] = "Выбор направленности";
}

<div class="text-center m-3">
    <h2>Выбор направленности</h2>
</div>

<vc:focus-container data="@Model"/>