@model EasyToEnter.ASP.ViewsModels.Applicant.GroupSelectionContainerViewModel;

@{
    ViewData["Title"] = "Выбор группы";
}

@*Путь начало*@
<div class="container bg-light rounded-3 shadow mb-3">
    <div class="row">
        <div class="col px-3">
            <p class="my-1">
                <small class="text-muted">
                    <a class="link-secondary" href="/Applicant/LevelSelection">@Model.LevelName</a> / 
                    <a class="link-secondary" href="/Applicant/ScienceSelection?level=@Model.LevelId">@Model.ScienceName</a> / ...
                </small>
            </p>
        </div>
    </div>
</div>
@*Путь конец*@

<vc:group-container data="@Model"/>