@model EasyToEnter.ASP.ViewsModels.Applicant.GroupSelectionContainerViewModel;

@{
    ViewData["Title"] = "Выбор группы";
}

<div class="text-center m-3">
    <h2>Выбор группы</h2>
</div>

<vc:group-container data="@Model"/>