@{
    ViewData["Title"] = "Home Page";
}

<h1>Поис направления</h1>

<!-- Фильтры -->
<form method="get">
    <div class="container">
        <div class="row">
            <div class="col-4 col-sm-3">
                <!-- Уровень -->
                <select name="level" class="select_send_ajax selectpicker" data-show-subtext="true" data-live-search="true" asp-items="ViewBag.Levels">
                    <option value="">Выберите уровень</option>
                </select>
            </div>
            <div class="col-4 col-sm-3">
                <!-- Наука -->
                <select name="science" class="select_send_ajax selectpicker" data-show-subtext="true" data-live-search="true" asp-items="ViewBag.Sciences">
                    <option value="">Выберите науку</option>
                </select>
            </div>
            <div class="col-4 col-sm-3">
                <!-- Группа -->
                <select name="group" class="select_send_ajax selectpicker" data-show-subtext="true" data-live-search="true" asp-items="ViewBag.Groups">
                    <option value="">Выберите группу</option>
                </select>
            </div>
            <div class="col-4 col-sm-3">
                <!-- Направление -->
                <select name="direction" class="select_send_ajax selectpicker" data-show-subtext="true" data-live-search="true" asp-items="ViewBag.Directions">
                    <option value="">Выберите направление</option>
                </select>
            </div>
        </div>
    </div>
</form>

<!-- Вывод направленностей -->
@for(var i = 0; i < ViewBag.Focuss.Count; i++)
{
    <div>@ViewBag.Focuss[i].FocusModel.Name</div>
}

<!-- Отправка формы при клике на select-->
@section Scripts 
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        $('.select_send_ajax').on('change', function() 
        {
            $(this.form).submit();
        });
    </script>
}