@model EasyToEnter.ASP.ViewsModels.Applicant.LevelSelectionContainerViewModel;

@{
    ViewData["Title"] = "Выбор уровня";
}

@*Путь начало*@
<div class="container bg-light rounded-3 shadow mb-3">
    <div class="row">
        <div class="col px-3">
            <p class="my-1">
                <small class="text-muted">
                    / <a class="link-secondary" href="">...</a>
                </small>
            </p>
        </div>
    </div>
</div>
@*Путь конец*@

<vc:level-container data="@Model"/>