@model EasyToEnter.ASP.ViewsModels.Applicant.ScienceSelectionContainerViewModel;

@{
    ViewData["Title"] = "Выбор науки";
}

<div class="text-center m-3">
    <h2>Выбор науки</h2>
</div>

<vc:science-container data="@Model"/>