@model EasyToEnter.ASP.Models.Models.VariabilityModel;
@using EasyToEnter.ASP.ViewsModels.Components.Path;

@{
    ViewData["Title"] = "Вариативность";
}

@*Путь начало*@
<vc:path data="new PathContainerViewModel(Model)"/>
@*Путь конец*@

@*История начало*@
<div class="container p-0 mt-3">
    <vc:history-container data="Model.HistoryVariabilitys?.OrderByDescending(hv => hv.Year).ToList()"/>
</div>
@*История конец*@

@*Дисциплины начало*@
<div class="container p-2 mt-3 bg-light rounded-3 shadow">
    <div class="text-center">
        <a class="text-decoration-none text-dark" data-toggle="collapse" aria-expanded="true" aria-controls="collapseExample" href="#collapseExample">
            Дисциплины <small class="text-muted">(@Model.FocusUniversityModel!.DisciplineFocusUniversitys!.Count)</small>
        </a>
    </div>
    <div class="collapse" id="collapseExample">
        <div class="row mt-2">
            <vc:discipline-container data="Model.FocusUniversityModel!.DisciplineFocusUniversitys"/>
        </div>
    </div>
</div>
@*Дисциплины конец*@