@model EasyToEnter.ASP.Models.Models.VariabilityModel;
@using EasyToEnter.ASP.ViewsModels.Components.Path;

@{
    ViewData["Title"] = "Вариативность";
}

@*Путь начало*@
<vc:path data="new PathContainerViewModel(Model)"/>
@*Путь конец*@

@*Детали начало*@
<div class="container p-2 mt-3 bg-light rounded-3 shadow">
    <div class="col">
        <div class="row">
            <div class="fw-bold">
                Описание
            </div>
            <div>
                @Model.FocusUniversityModel!.LevelFocusModel!.FocusModel!.Description
            </div>
        </div>

        <div class="row">
            <div>

            </div>
        </div>

        <div class="row">
            <div>

            </div>
        </div>

    </div>
</div>
@*Детали конец*@

@*Вакансии и Профессии начало*@
<div class="container mt-3">
    <div class="row">

        <a class="col-12 col-sm mr-sm-1 btn btn-light shadow-sm mb-sm-0 mb-2" href="#">
            <div class="fw-bold text-center">
                Вакансии <small class="text-muted">(21)</small>
            </div>
        </a>

        <a class="col-12 col-sm mr-sm-1 btn btn-light shadow-sm" href="#">
            <div class="fw-bold text-center">
                Профессии <small class="text-muted">(15)</small>
            </div>
        </a>

    </div>
</div>
@*Детали конец*@

@*История начало*@
<vc:history-container data="Model.HistoryVariabilitys?.OrderByDescending(hv => hv.Year).ToList()"/>
@*История конец*@

@*Дисциплины начало*@
<vc:discipline-container data="Model.FocusUniversityModel!.DisciplineFocusUniversitys"/>
@*Дисциплины конец*@