@model EasyToEnter.ASP.Models.Models.VariabilityModel;
@using EasyToEnter.ASP.ViewsModels.Components.History;

@{
    ViewData["Title"] = "Вариативность";
}

@*Путь начало*@
<vc:history data="new HistoryContainerViewModel(Model)"/>
@*Путь конец*@

<div class="container p-0 mt-3">

    @*История начало*@
    <div class="row">
        <vc:discipline-container data="Model.FocusUniversityModel!.DisciplineFocusUniversitys"/>
    </div>
    @*История конец*@

    @*Дисциплины начало*@
    <div class="row">
        <vc:discipline-container data="Model.FocusUniversityModel!.DisciplineFocusUniversitys"/>
    </div>
    @*Дисциплины конец*@

</div>