@model EasyToEnter.ASP.ViewsModels.Applicant.VariabilitySelectionContainerViewModel;
@using EasyToEnter.ASP.ViewsModels.Components;
@using EasyToEnter.ASP.ViewsModels.Components.Maps;
@using EasyToEnter.ASP.ViewsModels.Components.Path;
@using EasyToEnter.ASP.ViewsModels.Applicant;
@using System.Text.Json.Serialization;
@using Newtonsoft.Json;


@{
    ViewData["Title"] = "Вырианты обучения";
}

@*Путь начало*@
<vc:path data="new PathContainerViewModel(Model)"/>
@*Путь конец*@

@*Карта начало*@
<vc:map-university-list data="@Model.VariabilityViewModelList.Select(v => v.FocusUniversityModel!.UniversityModel!).Distinct().ToList()"/>
@*Карта конец*@

@*Вариативности начало*@
<div class="container p-0 mt-3">
    <div class="row">

        @*Контейнер начало*@
        <div class="col-xl-8 col-md-12 order-xl-1 order-3">
            
            @{
                string ModelJson = JsonConvert.SerializeObject(Model.VariabilityViewModelList, Formatting.None, new JsonSerializerSettings(){ ReferenceLoopHandling = ReferenceLoopHandling.Ignore});
                List<VariabilityViewModel>? ModelNotJson = System.Text.Json.JsonSerializer.Deserialize<List<VariabilityViewModel>>(ModelJson);
            }

            <component type="typeof(VariabilitySelectionContainer)" render-mode="ServerPrerendered" param-Model="ModelNotJson"/>
        </div>
        @*Контейнер конец*@

        @*Фильтр начало*@
        <div class="col-xl col-md-12 mb-3 order-xl-2 order-2">
            <div class="col bg-white shadow px-3 rounded-20">
                <div class="col position-relative">
                    <div class="row">
                        <div class="col p-0 my-1 text-center">
                            Фильтры
                        </div>
                        <a class="col-auto m-0 p-0 align-self-end d-block d-xl-none text-decoration-none" data-toggle="collapse" aria-expanded="true" aria-controls="collapseExample" href="#collapseExample">
                            <span class="fs-5 bi bi-sliders text-muted"/>
                        </a>
                    </div>
                </div>
                <div class="collapse dont-collapse-sm pb-2" id="collapseExample">
                    <div class="well">
                        <!-- Фильтры -->
                        <form method="get">
                            <div class="container p-0">
                                <div class="row">
                                    <!-- Предыдущие значения -->
                                    <input type="hidden" name="levelFocus" asp-for="LevelFocusId"/>

                                    <h5 class="px-3"></h5>
                                    <vc:select data='@new SelectViewModel("form", "Форма обучания", Model.FormSelectListItem)'/>
                                    <vc:select data='@new SelectViewModel("format", "Формат обучания", Model.FormatSelectListItem)'/>
                                    <vc:select data='@new SelectViewModel("payment", "Оплата обучания", Model.PaymentSelectListItem)'/>
                                    @*<vc:select data='@new SelectViewModel("tuition", "Стоимость обучения", Model.PaymentSelectListItem)'/>*@
                                    @*<vc:select data='@new SelectViewModel("passingGrade", "Проходной балл", Model.PaymentSelectListItem)'/>*@
                                    <vc:select data='@new SelectViewModel("entranceExams", "Вступительные экзамены", Model.EntranceExamsSelectListItem)'/>
                                    @*Предметы и предметы на замену*@
                                    
                                    <h5 class="mt-3 px-3"></h5>
                                    <vc:select data='@new SelectViewModel("accreditation", "Аккредитация", Model.AccreditationSelectListItem)'/>
                                    <vc:select data='@new SelectViewModel("militaryDepartment", "Военная кафедра", Model.MilitaryDepartmentSelectListItem)'/>
                                    <vc:select data='@new SelectViewModel("dormitory", "Общежитие", Model.DormitoryDepartmentSelectListItem)'/>
                                    <vc:select data='@new SelectViewModel("specialization", "Специализация", Model.SpecializationSelectListItem)'/>
                                    @*<vc:select data='@new SelectViewModel("region", "Район", Model.MilitaryDepartmentSelectListItem)'/>*@
                                    @*<vc:select data='@new SelectViewModel("city", "Город", Model.MilitaryDepartmentSelectListItem)'/>*@
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        @*Фильтр конец*@
    </div>
</div>
@*Вариативности конец*@

<!-- Отправка формы при клике на select-->
@section Scripts 
{
    <script>
        $('.select_send_ajax').on('change', function() 
        {
            $(this.form).submit();
        });
    </script>
}