@model EasyToEnter.ASP.Models.Models.VariabilityModel;
@using EasyToEnter.ASP.ViewsModels.Components.Path;

@{
    ViewData["Title"] = "Вариативность";
}

@*Путь начало*@
<vc:path data="new PathContainerViewModel(Model)"/>
@*Путь конец*@

@*Вариативность начало*@
<div class="container p-0 mt-3">

    @*История начало*@
    <div class="row">
        <vc:history-container data="Model.HistoryVariabilitys?.OrderByDescending(hv => hv.Year).ToList()"/>
    </div>
    @*История конец*@

    @*Дисциплины начало*@
    <div class="row">
        <vc:discipline-container data="Model.FocusUniversityModel!.DisciplineFocusUniversitys"/>
    </div>
    @*Дисциплины конец*@

</div>
@*Вариативность начало*@