@model EasyToEnter.ASP.ViewsModels.Applicant.VariabilitySelectionContainerViewModel;

@{
    ViewData["Title"] = "Вырианты обучения";
}

<div class="text-center m-3">
    <h2>Вырианты обучения</h2>
</div>

<vc:variability-container data="@Model"/>