@model EasyToEnter.ASP.Models.Models.VariabilityModel;
@using EasyToEnter.ASP.ViewsModels.Components.History;

@{
    ViewData["Title"] = "Вариативность";
}

@*Путь начало*@
<vc:history data="new HistoryContainerViewModel(Model)"/>
@*Путь конец*@

<div class="container p-0 mt-3">
    <div class="row">

    </div>
</div>