@*Библиотеки*@
@using static EasyToEnter.ASP.Tools.StringConverting;
@using System.Linq;



@*Api*@
@inject EasyToEnter.ASP.Services.Vacancy.IVacancyService VacancyService;



<div class="bg-white rounded-20 shadow p-2 mb-3">
    @if (Model.Any())
    {
        <a data-toggle="collapse" aria-expanded="true" aria-controls="collapseExample" href="#collapseVacancy">
            <div class="col btn">
                <div class="text-start">
                    Вакансии <small class="text-muted">(@Model.Count)</small>
                </div>
            </div>
        </a>
        <div class="collapse show" id="collapseVacancy">
            <div class="row mt-2">
                <div class="container">
                    @for (var i = 0; i < Model.Count; i++)
                    {
                        VacancyModel vacancy = Model[i];

                        <div class="rounded-20 shadow-sm bg-white mb-2 px-2" style="border: 1px solid #e6e6e6;">
                            <div class="row p-2 text-black">
                                <a class="col text-truncate text-decoration-none text-black" href="/EmployeeOrganization/EditVacancy?vacancyId=@vacancy.Id">
                                    @vacancy.Name
                                </a>
                                <div class="col-auto">
                                    @IntToString(vacancy.Wages) <small class="text-muted"> рублей</small>
                                </div>
                                <a class="col-auto" href="" @onclick:preventDefault @onclick="(() => DeleteVacancy(vacancy.Id))">
                                    <span class="fs-5 bi bi-trash text-danger"/>
                                </a>
                            </div>
                        </div>
                    }

                    <div class="rounded-20 shadow-sm bg-white mb-2 px-2" style="border: 1px solid #e6e6e6;">
                        <a class="row p-2 text-decoration-none text-black" href="/EmployeeOrganization/NewVacancy">
                            <div class="col text-center text-truncate">
                                Добавить
                            </div>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    }
    else
    {
        <div class="col btn">
            <div class="text-start">
                Вакансии <small class="text-muted">(нет)</small>
            </div>
        </div>
        <div class="rounded-20 shadow-sm bg-white mb-2 px-2" style="border: 1px solid #e6e6e6;">
            <a class="row p-2 text-decoration-none text-black" href="/EmployeeOrganization/NewVacancy">
                <div class="col text-center text-truncate">
                    Добавить
                </div>
            </a>
        </div>
    }
</div>

@code {

    [Parameter]
    public List<VacancyModel> Model { get; set; } = new List<VacancyModel>();

    private async Task DeleteVacancy(int vacancyId) 
    {
        bool result = await VacancyService.DeleteVacancy(vacancyId);

        if (result) Model.RemoveAll(v => v.Id == vacancyId);
    }
}