@model EasyToEnter.ASP.Models.Models.FocusUniversityFavoritesModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>FocusUniversityFavoritesModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FocusUniversityModel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FocusUniversityModel.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonModel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonModel.Login)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
