@model EasyToEnter.ASP.ViewsModels.Applicant.FocusSelectionCardViewModel;

<div class="card bg-dark text-white mb-3 rounded-3 shadow" style="background-color: #333;">
    <div class="card-body">
       <p class="card-text fst-italic">
            @Model.LevelFocus.FullCodeName
        </p>
        <h3 class="card-title">
            @Model.LevelFocus.FocusModel!.Name
        </h3>
        <p class="card-text">
            @Model.LevelFocus.FocusModel!.Description
        </p>
        <div class="col p-0 ">
            <a href="/Applicant/VariabilitySelection?levelFocus=@Model.LevelFocus.Id" class="btn btn-light">
                @Model.VariabilityCount вариантов обучения
            </a>
        </div>
    </div>
</div>