@model EasyToEnter.ASP.ViewsModels.Applicant.FocusSelectionCardViewModel;

<div class="card bg-dark text-white mb-3 rounded-3 shadow" style="background-color: #333;">
    <div class="card-body">
        <h3 class="card-title">
            @Model.Focus.Name
        </h3>
        <p class="card-text">
            @Model.Focus.Description
        </p>
        <div class="col p-0 ">
            <a href="/Applicant/XXXXXX?level=@Model.LevelId&focus=@Model.Focus.Id" class="btn btn-light">
                @Model.LevelFocusCount варианта поступления
            </a>
        </div>
    </div>
</div>