@{
    ViewData["Title"] = "Home Page";
}

<div class="icon-card mb-3 text-dark bg-light shadow rounded-3">
    <div class="row g-0">
        <div class="col position-relative">
            <div class="card-body">
                <div class="row px-3 mb-3">
                    <p class="col m-0 p-0 align-self-start card-text text-truncate"><small class="text-muted">38.03.01 Экономика и управление</small></p>
                    <a class="col-auto m-0 p-0 align-self-end" href="#">
                        <i class="fs-5 bi bi-bookmark-plus"></i>
                    </a>
                </div>
                <h5 class="card-title text-truncate">
                    <a href="" class="text-decoration-none text-dark fw-bold">Экономика</a>
                </h5>
                <p class="card-text text-truncate">Эта специальность позволяет получить экономическое образование, специализацию по экономике в различных областях: производство и текст тупо пишу чтобы было</p>
                <div class="row pl-3">
                    <a class="col btn m-0 text-truncate btn-secondary text-decoration-none" href="#"><span class="fs-5 fw-bold">123</span> варианта обучения</a>
                    <p class="col btn m-0">от <span class="fs-5 fw-bold">48</span> баллов</p>
                    <p class="col btn m-0">до <span class="fs-5 fw-bold">48</span> мест</p>
                    <p class="col btn m-0">от <span class="fs-5 fw-bold">150 000</span> руб./год</p>
                </div>
            </div>
        </div>
    </div>
</div>