@model EasyToEnter.ASP.Models.Models.VariabilityModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>VariabilityModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="EntranceExams" /> @Html.DisplayNameFor(model => model.EntranceExams)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="FormId" class="control-label"></label>
                <select asp-for="FormId" class="form-control" asp-items="ViewBag.FormId"></select>
                <span asp-validation-for="FormId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaymentId" class="control-label"></label>
                <select asp-for="PaymentId" class="form-control" asp-items="ViewBag.PaymentId"></select>
                <span asp-validation-for="PaymentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FormatId" class="control-label"></label>
                <select asp-for="FormatId" class="form-control" asp-items="ViewBag.FormatId"></select>
                <span asp-validation-for="FormatId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FocusUniversityId" class="control-label"></label>
                <select asp-for="FocusUniversityId" class="form-control" asp-items="ViewBag.FocusUniversityId"></select>
                <span asp-validation-for="FocusUniversityId" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
