@model EasyToEnter.ASP.ViewsModels.Components.Maps.MapCardViewModel;
@using EasyToEnter.ASP.ViewsModels.Components.History;
@using Newtonsoft.Json;


<div class="px-0 mt-3">
    <div id="map" style="height: 100px; resize: vertical" class="rounded-3 overflow-hidden w-auto bg-light"/>
</div>

<script>

    ymaps.ready(init);
        
    function init() {

        var myMap = new ymaps.Map("map", {
            center: [55.76, 37.64],
            zoom: 2,
            controls: ['fullscreenControl']
        },{
            autoFitToViewport: 'always',
            searchControlProvider: 'yandex#search'
        });
        
        @for(var i = 0; i < Model.UniversityModelList.Count; i++)
        {
            @:myMap.geoObjects.add(new ymaps.Placemark([@Model.UniversityModelList[i]!.AddressModel!.Latitude, @Model.UniversityModelList[i]!.AddressModel!.Longitude], {
                @:hintContent: `@{<vc:history data="new HistoryContainerViewModel(null)"></vc:history>}`,
                @:balloonContent: `@{<vc:history data="new HistoryContainerViewModel(null)"></vc:history>}`
            @:}));
        }

        myMap.container.fitToViewport();

    }

</script>

@*        var myPlacemark = new ymaps.Placemark([55.76, 37.64], {
            hintContent: `@{<vc:history data="new HistoryContainerViewModel(null)"></vc:history>}`,
            balloonContent: `@{<vc:history data="new HistoryContainerViewModel(null)"></vc:history>}`,
        });*@

<style>
    [class*="copyrights-pane"] {
        display: none !important;
    }
</style>