@model EasyToEnter.ASP.Models.Models.FocusUniversityModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>FocusUniversityModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PassingGrade" class="control-label"></label>
                <input asp-for="PassingGrade" class="form-control" />
                <span asp-validation-for="PassingGrade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tuition" class="control-label"></label>
                <input asp-for="Tuition" class="form-control" />
                <span asp-validation-for="Tuition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberSeats" class="control-label"></label>
                <input asp-for="NumberSeats" class="form-control" />
                <span asp-validation-for="NumberSeats" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PeriodStudy" class="control-label"></label>
                <input asp-for="PeriodStudy" class="form-control" />
                <span asp-validation-for="PeriodStudy" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="EntranceExams" /> @Html.DisplayNameFor(model => model.EntranceExams)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="FormId" class="control-label"></label>
                <select asp-for="FormId" class ="form-control" asp-items="ViewBag.FormId"></select>
            </div>
            <div class="form-group">
                <label asp-for="PaymentId" class="control-label"></label>
                <select asp-for="PaymentId" class ="form-control" asp-items="ViewBag.PaymentId"></select>
            </div>
            <div class="form-group">
                <label asp-for="FormatId" class="control-label"></label>
                <select asp-for="FormatId" class ="form-control" asp-items="ViewBag.FormatId"></select>
            </div>
            <div class="form-group">
                <label asp-for="UniversityId" class="control-label"></label>
                <select asp-for="UniversityId" class ="form-control" asp-items="ViewBag.UniversityId"></select>
            </div>
            <div class="form-group">
                <label asp-for="LevelFocusId" class="control-label"></label>
                <select asp-for="LevelFocusId" class ="form-control" asp-items="ViewBag.LevelFocusId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
