@model EasyToEnter.ASP.Models.Models.LevelFocusModel;

<div class="card bg-dark text-white mb-3 rounded-3 shadow" style="background-color: #333;">
    <div class="card-body">
        <p class="card-text fst-italic">
            @Model.FullCodeName
        </p>
        <h3 class="card-title">
            <a href="/Applicant?level=3" class="btn btn-outline-light">ewqrw</a>
            @Model.FocusModel?.Name
        </h3>
        <p class="card-text text-truncate">
            @Model.FocusModel?.Description
        </p>
        <div class="row p-0">
            <div class="col">
                <div class="row">
                    <div class="col">
                        <a href="#" class="btn btn-light">
                            543 варианта обучения
                        </a>
                    </div>
                    <div class="col">
                        <p class="text-truncate">от <span class="fs-5 fw-bold ">453 543</span> руб.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col">
                        <p class="text-truncate"><span class="fs-5 fw-bold">44</span> мест</p>
                    </div>
                    <div class="col">
                        <p class="text-truncate">от <span class="fs-5 fw-bold">55</span> баллов</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>