@model List<EasyToEnter.ASP.Models.Models.VacancyModel>;

@using static EasyToEnter.ASP.Tools.StringConverting;
@using EasyToEnter.ASP.Models.Models;
@using System.Text.Json.Serialization;
@using Newtonsoft.Json;

@{
    ViewData["Title"] = "Организация";
}

<div class="bg-white rounded-20 shadow p-2 mb-3">
    <div class="col btn">
        <div class="text-start">
            Организация <small class="text-muted">(редактировать)</small>
        </div>
    </div>
</div>

@*Список вакансий*@
@{
    string ModelJson = JsonConvert.SerializeObject(Model, Formatting.None, new JsonSerializerSettings(){ ReferenceLoopHandling = ReferenceLoopHandling.Ignore});
    List<VacancyModel>? ModelNotJson = System.Text.Json.JsonSerializer.Deserialize<List<VacancyModel>>(ModelJson);
}

<component type="typeof(OrganizationVacancyContainer)" render-mode="ServerPrerendered" param-Model="ModelNotJson"/>