@model EasyToEnter.ASP.Models.Models.HistoryVariabilityModel;
@using static EasyToEnter.ASP.Tools.StringConverting

<div class="carousel-item my-0 col-xl-3 col-lg-4 col-md-6 col-12 p-0">
    <div class="p-sm-1 px-0 pb-2">
        <div class="icon-card rounded-3 shadow-sm bg-white">
            <div class="card-body">
                <h4 class="card-title text-center fw-bold mb-4">
                    <small class="text-muted">на</small> @Model.Year <small class="text-muted">год</small>
                </h4>
                <div class="raw card-text">
                    <div class="col">
                        <h6 class="card-title text-center">
                            <small class="text-muted">от</small> @IntToString(Model.Tuition) <small class="text-muted">рублей</small>
                        </h6>
                    </div>
                    <div class="col">
                        <h6 class="card-title text-center">
                            <small class="text-muted">до</small> @IntToString(Model.NumberSeats) <small class="text-muted">мест</small>
                        </h6>
                    </div>
                    <div class="col">
                        <h6 class="card-title text-center mb-0">
                            <small class="text-muted">от</small> @IntToString(Model.PassingGrade) <small class="text-muted">баллов</small>
                        </h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>