@model EasyToEnter.ASP.ViewsModels.Applicant.DirectionSelectionCardViewModel;

<div class="card bg-dark text-white mb-3 rounded-3 shadow" style="background-color: #333;">
    <div class="card-body">
        <h3 class="card-title">
            @Model.Direction.Name
        </h3>
        <p class="card-text">
            @Model.Direction.Description
        </p>
        <div class="col p-0 ">
            <a href="/Applicant/FocusSelection?level=@Model.LevelId&direction=@Model.Direction.Id" class="btn btn-light">
                @Model.VariabilityCount варианта поступления
            </a>
        </div>
    </div>
</div>